:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --primary-link-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --footer-bcg-color: #2F303A;
    --footer-link-color: rgba(255, 255, 255, 0.60);
    --text-logo-accent: #000000;
    --button-bcg-color: #F5F4FA;
}

button,
li {
    cursor: pointer;
}



.list {
    list-style: none;
}


.text-logo {
    color: var(--primary-link-color);
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    text-decoration: none;
}

.text-logo-accent {
    color: var(--text-logo-accent)
}

.text-logo-footer {
    color: var(--primary-white-color);
}

body {
    font-size: 14px;
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    text-decoration: none;
}

/*Button*/
.button {
    color: var(--primary-white-color);
    background-color: var(--primary-link-color);
}

.button.primary {
    color: var(--primary-white-color);
    background-color: var(--primary-link-color);
}

.button.secondary {
    color: var(--title-text-color);
    background-color: var(--button-bcg-color);
}

.button.secondary:hover,
.button.secondary:focus {
    color: var(--primary-white-color);
    background-color: var(--primary-link-color);
}

/*Navigation*/
header {
    background-color: var(--primary-white-color);
}

.nav-menu {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.nav-menu .link {
    color: var(--title-text-color);
}

.nav-menu .link:hover,
.nav-menu .link:focus,
.adress-header .link:hover,
.adress-header .link:focus {
    color: var(--primary-link-color);
}

.current {
    color: var(--primary-link-color);
}

.nav-menu a {
    text-decoration: none;
}

.adress-header {

    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.adress-header .link {
    color: var(--primary-text-color);
    text-decoration: none;
}

/*Footer*/
.adress {
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
}

.link-footer {
    color: var(--footer-link-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    text-decoration: none;
}

.link-footer:hover,
.link-footer:focus {
    color: var(--primary-white-color);
}

.footer {
    background: #2F303A;
    text-decoration: none;
}