body {
    background-color: var(--primary-white-color);
}

.filters {
    margin-bottom: 50px;
    list-style: none;
}

button {
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;
}

/*Gallery*/

.gallery {
    background-color: var(--primary-white-color);
}

li>a {
    text-decoration: none;
}

.gallery .title {
    color: var(--title-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 20px;
}

.gallery .text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    margin-top: 4px;
}