/*Header link*/

.hero {
    background: #2F303A;
    text-align: center;
}

.hero .title {
    color: var(--primary-white-color);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/*Section*/
.section-title {
    color: var(--title-text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.name {
    color: var(--title-text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
}

.speciality {
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.03em;
}

/*Peculiarities*/

.about .title {
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.about .text {
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*Our team*/
.team-color {
    background: #F5F4FA;
}